<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
<h2>Signup</h2>
<form method="post">
    <div>
    <label>Username
    <input type="text" name="username" value="{{username}}">
    <span>{{username_err}}</span>
    </label>
    </div>
    <div>
    <label>Password
    <input type="password" name="password" value="">
    <span>{{password_err}}</span>
    </label>
    </div>
    <div>
    <label>Verify Password
    <input type="password" name="vpassword" value="">
    <span>{{verify_err}}</span>
    </label>
    </div>
    <div>
    <label>Email(optional)
    <input type="text" name="email" value="{{email}}">
    <span>{{email_err}}</span>
    </label>
    </div>
    <br />
    <input type="submit" name="submit">

</form>
</body>
</html>
